beautifulsoup4
faiss-cpu
flashrank
union
flytekit
flytekitplugins-deck-standard
flytekitplugins-inference
gitpython
langchain==0.3.4
langchain-community==0.3.3
langchain-openai==0.2.3
langchain-text-splitters==0.3.0
langchain-core==0.3.12
markdownify
mashumaro
nltk
openai
pandas
playwright
pyarrow
requests
rouge-score
seaborn
tiktoken==0.7.0
